body {
	padding:0px;
	margin:0px;
	width:300px;
	height:200px;
	background-color:#555;
}
div {
	height:100%;
	width:100%;
	display:table;
	font-family:"Tahoma","Verdana";
	font-size:15px;
	font-weight:bold;
	text-shadow:0px 0px 1px #000000;
	background-color:#555;
	color:#fff;
}
h1,h2 {
	display:table-row;
	vertical-align:middle;
	text-align:center;
}
h2 {
	background-color:#777;
}
.unselectable {
	-webkit-user-select:none;
	cursor:default;
}